.wrapper {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;

  .prompt {
    background-color: var(--layer-two);
    padding: 1rem;
    border-radius: 5px;
    max-width: 30rem;

    h1 {
      font-size: 0.9rem;
      font-weight: 300;
      color: var(--font-pr);
    }

    .choices_group {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      width: 100%;
      justify-content: center;
      align-items: center;

      button {
        margin: 5px;
      }
    }
  }
}
