.item_wrapper {
  display: flex;
  // align-items: center;
  width: 95%;
  margin-bottom: 5px;
  background-color: var(--layer-two);
  border-radius: 5px;
  overflow: hidden;

  h4 {
    color: var(--font-pr);
    padding: 2px 5px;
    flex: 1;
    text-align: left;
    margin: auto 0;
    font-size: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: 2px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: 0;
  }
}
