.wrapper {
  width: 14rem;
  height: 100%;
  background-color: var(--layer-one);
  padding: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 0.9rem;
    color: var(--font-sec);
    margin-bottom: 20px;
  }

  .link {
    color: var();
    display: flex;
    text-decoration: none;
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;

    h1 {
      margin: 0;
      margin-left: 5px;
      font-size: 0.8rem;
    }
  }

  .playlist_item {
    font-size: 0.8rem;
    color: var(--font-pr);
    list-style: none;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .scroll_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background-color: var(--layer-one);
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--layer-two);
      border-radius: 100px;
    }
  }
}
