.wrapper {
  width: 50%;
  background-color: var(--layer-one);
  display: flex;
  flex-direction: column;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;

  hr {
    margin-top: 10px;
    border-color: var(--font-sec);
    width: 80%;
  }

  h1 {
    font-size: 1rem;
    color: var(--font-pr);
  }

  .scroll_list {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
    margin-top: 10px;

    &::-webkit-scrollbar {
      background-color: var(--layer-one);
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--layer-two);
      border-radius: 100px;
    }
  }
}
