.toggle_button_group{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-start;

  .toggle_button{
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-right: 1px;
    cursor: pointer;
    transition: .3s;

    &:hover{
      transform: scale(1.05);
    }

    &:first-child{ border-radius: 5px 0px 0px 5px; }
    &:last-child{ border-radius: 0px 5px 5px 0px; }
  }
}